#shop-page {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
                url('../assets/background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: "Roboto", sans-serif;
}

.change-page-button {
    color: white;
    border: none;
    background: none;
    font-weight: normal;
    transition: font-weight 0.3s ease;
}
.change-page-button:hover {
    font-weight: bold;
}

.store-buy-button {
    width: 100%;
    background-color: rgb(43, 75, 141);
    color: white;
    border: 0px;
 
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.store-buy-button:hover {
    background-color: rgb(29, 51, 95);
}
.store-buy-button:not(:disabled):not(.disabled):active {
    background-color: rgb(24, 42, 78);
}

.store-own-button {
    width: 100%;
    background-color: rgb(135, 135, 135);
    color: white;
    border: 0px;
 
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.store-own-button:hover {
    background-color: rgb(97, 97, 97);
}
.store-own-button:not(:disabled):not(.disabled):active {
    background-color: rgb(64, 64, 64);
}

.store-back-button {
    background-color: rgb(43, 75, 141);
    border: 0px;
}
.store-back-button:hover {
    background-color: rgb(29, 51, 95);
}
.store-back-button:not(:disabled):not(.disabled):active {
    background-color: rgb(24, 42, 78);
}

.store-picture {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.shop-part {
    backdrop-filter: blur(5px);
}