#shop-page {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    background-size: cover;
    color: white;
    font-family: "Roboto", sans-serif;
}

.change-page-button {
    color: white;
    border: none;
    background: none;
    font-weight: normal;
    transition: font-weight 0.3s ease;
}
.change-page-button:hover {
    font-weight: bold;
}

.store-buy-button {
    width: 100%;
    background-color: rgb(43, 75, 141);
    color: white;
    border: 0px;
 
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.store-buy-button:hover {
    background-color: rgb(29, 51, 95);
}
.store-buy-button:not(:disabled):not(.disabled):active {
    background-color: rgb(24, 42, 78);
}

.store-own-button {
    width: 100%;
    background-color: rgb(135, 135, 135);
    color: white;
    border: 0px;
 
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.store-own-button:hover {
    background-color: rgb(97, 97, 97);
}
.store-own-button:not(:disabled):not(.disabled):active {
    background-color: rgb(64, 64, 64);
}

.store-back-button {
    font-size: 85px;
    color: white;
    background-color: transparent;
    border: 0px;
    padding: 0px;
}
.store-back-button:hover {
    color: rgb(193, 193, 193);
}

.store-picture {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.shop-part {
  border: 6px solid rgba(255,255,225,.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  color:#fff ;
  border-radius: 10px;
}
