/*Home page*/
body{
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: url('../assets/wp11711257-snowboarding-4k-wallpapers.jpg') no-repeat;
  background-size: cover ;

}

.screen {
  height: 100vh;
  width: 99%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}


.menu{
  color: #ebebeb;
  margin-left: 4em;
  text-transform: uppercase;
}
.menu h1{
  font-size: 4em;
  letter-spacing: 30px;
  display: block;
  margin-bottom: 0.5em;
}
.menu h3{
  font-weight: 300;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 10px;
  position: relative;
}


.menu h3 ::before{
  left: 0;
}

.menu h3::after{
  right: 0 ;
}

.menu ul{
  list-style: none;
  padding: 0;
}
.menu li{
  margin: 1em 0;
}
.menu li a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 700;
}

#sound {
position: absolute;
right : 0;
top: 0;
margin : 1em;
color: #ebebeb;
cursor : pointer;
}
.menu li
a:hover,
#sound:hover {
color: #dbdbdb;
}

@media screen and (max-width:800px){
.menu hl {
font-size: 2em;
}
.menu h3 {
font-size : 1.5em;
}
}
@media screen and (max-width:500px){
.menu hl {
letter-spacing: 5px;
}

.menu h3::before,
.menu h3::after {
display:none;
}}
@media screen and (max-height:45px) {
  .screen, img{
    height: 35em;
  }
}

.credit{
  text-align: center;
}
.credit li{
  margin: 1em 0;
}
.credit li a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 700;
}
.credit li
a:hover,
#sound:hover {
color: #dbdbdb;
}
.credit ul{
  list-style: none;
  padding: 0;
}
