

.settings-frame {
    width: 50%;
}
#settings-key-button {
    width: 100%;
}

.settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Ajustez l'opacité selon vos besoins */
    z-index: 9998; /* Inférieur à l'élément settings-page */
}

.settings-close-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.settings-page {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
}

.settings-error-key {
    display: none;
}

* {
    color: #fff;
    font-family: 'Pixel';
    font-size: 30px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Login Page + Register Page*/


.superWrapper {
display: flex;
justify-content: center;
align-items: center;
min-height: 55vh;
}

.wrapper {
width: 500px;
background: transparent;
border: 6px solid rgba(255,255,225,.2);
backdrop-filter: blur(10px);
box-shadow: 0 0 5px rgba(0,0,0,.2);
color:#fff ;
border-radius: 10px;
padding: 30px 40px;
}
.wrapper hl {
font-size: 36px;
text-align: center;
}

.wrapper .input-box {
position: relative;
width: 100%;
height: 50px;
margin: 30px 0;
}

@keyframes changeColorGreen {
  0%   {background-color: rgba(255,255,225,.2);}
  50%  {background-color: greenyellow;}
  100% {background-color: rgba(255,255,225,.2);}
}

@keyframes changeColorRed {
  0%   {background-color: rgba(255,255,225,.2);}
  50%  {background-color: red;}
  100% {background-color: rgba(255,255,225,.2);}
}

.input-box input {
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
border: 2px solid rgba(255,255,225,.2);
border-radius: 40px;
font-size: 16px;
color: white;
padding: 20px,45px,20px,20px;

}

.input-box input::placeholder {
color :#fff ;
}
.input-box i {
position: absolute;
right: 20px;
top: 50%;
transform:translateY(-50%);
font-size: 20px;
}


.remember-forgot label input {
accent-color:#fff ;
margin-right: 3px;
}
.remember-forgot a{
color :#fff ;
text-decoration:
none;
}

.remember-forgot a:hover {
text-decoration:underline;
}
.wrapper .btn {
width: 100%;
height: 45px;
background :#fff ;
border: none;
outline: none;

border-radius: 40px;
box-shadow: 0 0 10px rgba(0,0,0,.1);
cursor: pointer;
font-size: 16px;
color: #333;
font-weight: 600;
}

.wrapper .register-link {
font-size: 14.5px;
text-align: center;
margin: 20px 0 15px;
}
.register-link p a {
color:#fff ;
text-decoration: none;
font-weight: 600;
}
.register-link p a:hover {
text-decoration :underline;
}

.back{
font-size: 85px;
background-color: transparent;
color: white;
border-color: transparent;
}
.div-back{
  margin-left: 2%;
  margin-top: 2%;
}



body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


/* Background and background animation */
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: url('../assets/BG.png');
  background-size: 50% 100%;
  animation: scrollBackground 50s linear infinite; /* Ajust the velocity of the animation */
  z-index: -1;
}




 @keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
} 


 



/*Home page*/

.screen {
  height: 100vh;
  width: 99%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}


.menu{
  color: #ebebeb;
  margin-left: 4em;
  text-transform: uppercase;
}
.menu h1{
  font-size: 3em;
  letter-spacing: 30px;
  display: block;
  margin-bottom: 0.5em;
}
.menu h3{
  font-weight: 250;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 10px;
  position: relative;
}


.menu h3 ::before{
  left: 0;
}

.menu h3::after{
  right: 0 ;
}

.menu ul{
  list-style: none;
  padding: 0;
}
.menu li{
  margin: 1em 0;
}
.menu li a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 700;
}

#sound {
position: absolute;
right : 0;
top: 0;
margin : 1em;
color: #ebebeb;
cursor : pointer;
}
.menu li
a:hover,
#sound:hover {
color: #dbdbdb;
}

@media screen and (max-width:800px){
.menu hl {
font-size: 2em;
}
.menu h3 {
font-size : 1.5em;
}
}
@media screen and (max-width:500px){
.menu h2 {
letter-spacing: 5px;
}

.menu h3::before,
.menu h3::after {
display:none;
}}
@media screen and (max-height:45px) {
  .screen, img{
    height: 35em;
  }
}

.credit{
  display: flex;
  justify-content: space-evenly;
}
.credit li{
  margin: 0.5em 0;
}
.credit li a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 70;
}
.credit li
a:hover,
#sound:hover {
color: #dbdbdb;
}
.credit ul{
  list-style: none;
  padding: 0;
}


.superCreditPage{
  display: flex;
  justify-content: center;
  align-items: center;
}



.creditPage::-webkit-scrollbar {
  width: 12px;
}
 
.creditPage::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.creditPage::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid white;
  border-radius: 20px;    
  border: 3px solid 
}
.creditPage {
  
overflow:auto;
height: 650px;
width: 800px;
background: transparent;
border: 6px solid rgba(255,255,225,.2);
backdrop-filter: blur(10px);
box-shadow: 0 0 5px rgba(0,0,0,.2);
color:#fff ;
border-radius: 10px;
padding: 30px 40px;
justify-content: space-evenly;
}

.h1Credit{
  justify-content: center;
  text-align: center;
  font-size: 60px;
}

.creditPage div ul h3{
  text-decoration: underline;
  font-size: 30px;
}

.creditPage div li{
  font-size: 25px;
}
.div-back{
  width: 100px;
}
